body{
    background-color: hsl(225, 100%, 94%)
}
   
body{
    
     text-align: center;
    display:grid;
    margin-top: 100px;
}
.container{
    display: grid;
}
.card{
    display: flex;
    justify-content: space-between;
}





